


<div class="proposals-container">
  <h2>Proposals</h2>

  <div *ngIf="errorMessage" class="error">
    {{ errorMessage }}
  </div>

  <div *ngIf="proposals.length === 0 && !errorMessage">
    <p>No proposals have been made yet.</p>
  </div>

  <table *ngIf="proposals.length > 0">
    <thead>
      <tr>
         <th *ngFor="let title of NeedsValues">
            {{ title }}
         </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let proposal of proposals">
      <ng-container *ngIf="selectedProposal?.id !== proposal.id">
        <td *ngFor="let field of proposalValues">
          <ng-container [ngSwitch]="field">
            <span *ngSwitchCase="'creationDate'">{{ proposal[field] | date }}</span>
            <span *ngSwitchCase="'votes'">{{ getVoteDisplay(proposal[field]) }}</span>
            <span *ngSwitchDefault>{{ proposal[field] }}</span>
          </ng-container>
        </td>
      </ng-container>
        <td *ngIf="selectedProposal?.id !== proposal.id">
          <div  *ngIf="isManager()" >
            <button (click)="$event.stopPropagation(); editProposal(proposal)">Edit</button>
            <button (click)="$event.stopPropagation(); deleteProposal(proposal)">Delete</button>
            <button (click)="$event.stopPropagation(); saveProposal(proposal)">approve</button>
          </div>
        </td>

        <ng-container *ngIf="selectedProposal?.id === proposal.id">
          <td><input [(ngModel)]="selectedProposal.name" name="name" /></td>
          <td><input type="number" [(ngModel)]="selectedProposal.cost" name="cost" /></td>
          <td><input type="number" [(ngModel)]="selectedProposal.quantity" name="quantity" /></td>
          <td><input [(ngModel)]="selectedProposal.type" name="type" /></td>
          <td>{{ proposal.organization }}</td>
          <td>{{ proposal.username }}</td>
          <td>{{ proposal.creationDate | date }}</td>
          <td>
            <button type="button" (click)="saveEditedProposal()">Save</button>
            <button type="button" (click)="cancelEdit()">Cancel</button>
          </td>
        </ng-container>
      </tr>
    </tbody>
  </table>
</div>
